.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
ajs-public.Rproj
.log
../.DS_Store
guidelinesAJS.aux
guidelinesAJS.bbl
guidelinesAJS.blg
guidelinesAJS.log
guidelinesAJS.out
guidelinesAJS.synctex.gz
